base: 'https://typo3.ddev.site:4443/'
dependencies:
  - htl3r/typo3-demo
  - bootstrap-package/full
languages:
  -
    title: English
    enabled: true
    languageId: 0
    base: /
    locale: en_US.UTF-8
    navigationTitle: English
    flag: us
rootPageId: 1
websiteTitle: ''
