<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bürgerportal St. Rupert{% endblock %}</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js" defer></script>
</head>
<body class="{{ theme }}">

    {% include "partials/header.twig" %}

    <div class="portal-info">
        <p>Theme: {{ theme }}</p>
        <p>Besuche in dieser Session: {{ visitCount }}</p>
    </div>

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include "partials/footer.twig" %}

</body>

</html>
