<header>
    <h1>Bürgerportal St. Rupert</h1>
    <p>Vorschau der Portal-Module (Version 1.0.0)</p>

    <nav>
        <ul>
            <li><a href="/">Startseite</a></li>
            <li><a href="#bauanträge">Bauanträge</a></li>
            <li><a href="#termine">Termine</a></li>
            <li><a href="#dienste">Gemeindedienste</a></li>
        </ul>
    </nav>
</header>
